<!DOCTYPE html>
{% extends 'layout.html' %} {% block content %}
{% if user.is_authenticated %}

<head>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2>
            <center>Delete Publisher</center>
        </h2>
        <p><center>Delete publisher in database</center></p>
        <center>
            <div class="input-group mt-3 mb-3 col-sm-6">
                <div class="input-group-prepend">
                    <div class="form-group">
                        <select class="form-control" name="filter_input">
                            <option value="pub_name">Publisher name</option>
                            <option value="address">Address</option>
                            <option value="country">Country</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" name=search_input>
                <div>
                    <button class="btn btn-light" type="submit">Search</button>
                </div>
            </div>
        </center>
    </form>
    <table class="table table-striped">
        <thead>
            <thead>
                <tr>
                    <th>
                        <center>ID</center>
                    </th>
                    <th>
                        <center>Publisher name</center>
                    </th>
                    <th>
                        <center>Address</center>
                    </th>
                    <th>
                        <center>Country</center>
                    </th>
                    <th></th>
                </tr>
            </thead>
        </thead>
        <tbody>
            {% for publisher in publishers %}
            <tr>
                <td>
                    <center>{{publisher.id}}</center>
                </td>
                <td>
                    <center>{{publisher.name}}</center>
                </td>
                <td>
                    <center>{{publisher.address}}</center>
                </td>
                <td>
                    <center>{{publisher.country}}</center>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#modal_update{{publisher.id}}">
                        Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="modal_update{{publisher.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="modal_update_label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal_update_label">Update publisher</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <p>Are you sure to delete "{{publisher.name}}" ?</p>
                                        <input type="hidden" name="id" value="{{publisher.id}}">
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </tbody>
    </table>
    <center>
        {% if publishers.has_other_pages %}

        {% if publishers.has_previous %}
        <a class="btn btn-light" href="?page=1">First</a>
        <a class="btn btn-light" href="?page={{ publishers.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in publishers.paginator.page_range %}
        {% if publishers.number == num %}
        <a class="btn btn-dark" href="?page={{ num }}">{{ num }}</a>
        {% elif num > publishers.number|add:'-3' and num < publishers.number|add:'3' %}
        <a class="btn btn-light" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if publishers.has_next %}
        <a class="btn btn-light" href="?page={{ books.next_page_number }}">Next</a>
        <a class="btn btn-light" href="?page={{ books.paginator.num_pages }}">Last</a>
        {% endif %}

        {% endif %}
    </center>
</body>

{% endif %}
{% endblock %}